/* Base styles */
.slider {
    overflow: hidden;
    width: 100%;
    max-width: auto;
    margin: 0 auto;
  }
  
  .slide-track {
    display: flex;
    animation: scroll 30s linear infinite;
  }
  
  .slide {
    width: 250px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .slide img {
    max-width: 100%;
    max-height: 100px; /* Adjust height as needed */
    object-fit: contain;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 1024px) {
    .slider {
      max-width: 600px;
    }
    .slide {
      width: 200px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .slider {
      max-width: 400px;
    }
    .slide {
      width: 150px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .slider {
      max-width: 300px;
    }
    .slide {
      width: 100%;
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 10)); /* Adjust based on the number of slides */
    }
  }
  